@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400&display=swap'); /* Importar Be Vietnam Pro */


/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

/* Add some styles for body*/
body {
	min-height: 100vh;
	max-width: 1280px;
	margin: 0 auto;
	background: #020617;
	color: #cbd5e1;
	display: flex;
	flex-direction: column;
	background: url('../images/background.svg') no-repeat;
	background-size: cover;
}

nav {
	margin: 30px 40px;
}

h1 {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-size: 4rem; /* 64px */
	color: white;
}

h2 {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-size: 2rem; /* 32px */
	color: white;
}

body {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-size: 1rem; /* 16px */
}

label {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-size: 0.875rem; /* 14px */
	color: white
}

.button-text {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-size: 1.25rem; /* 20px */
	color: #4036A9;
	font-weight: 600;
	cursor: pointer
}

header, main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* row-gap: 0.5rem;
	column-gap: 1.5rem; */
}

.titles {
	margin-bottom: 80px;
	max-width: 670px;
}

form {
	width: 810px;
	height: 615px
}

.grid-card {
	background-color: #FFFFFF33;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.grid-item-5 {
	grid-column: span 2 / span 2;
	grid-row: span 2 / span 2;
}

.grid-item-6 {
	grid-column: span 2 / span 2;
	grid-row-start: 5;
}
 

.inputs {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

input {
	width: 100%;
	height: 70px;
}

textarea {
	width: 750px;
	height: 200px;
	grid-column: span 2;
}

button {
	/* width: 750px; */
	height: 70px;
}

input, textarea, button {
	border-radius: 15px;
	border: none;
}

@media screen and (min-width: 720px) {
  
}

@media (min-width: 922px) {
	nav {
		margin: 30px 80px !important;
	}
}